<center>
<h1>Coaching#home</h1>

<form action="/???" method="get">
 <label for="question">Speak to your coach</label>
  <br>
  <br>
  <input type="text" id="question" name="???" placeholder="What time is it?">
  <input type="submit" value="Go on!">
</form>
</center>
